/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300&display=swap'); */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;
}
.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 300px;
}
.navigation a{
    color: #359381;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    margin:  0 10px;
    font-weight: 600;
}

.navigation a:hover{
    color:#fff ;
    background: #359381;
}
.navigation a.active{
    color:#fff ;
    background: #359381;
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text{
    position: absolute;
    font-size: 6em;
    color: #fff;
    text-shadow: 6px 6px 4px rgba(0,0,0,.2);
    /* font-weight: 900; */
}
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    object-fit: cover;
}
.sec{
    position: relative;
    background: #003329;
    padding: 100px;
}
.sec h2{
    font-size: 3rem;
    color: #fff;
    text-transform: capitalize;
}
.sec p{
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
}